@model IEnumerable<CarRentalSystem.Models.CarModel>

@{
    ViewData["Title"] = "Modele samochodów";
}

<h1>Modele samochodów</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Dodaj model samochodu do listy!</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Rocznik
            </th>
            <th>
                Cena wynajmu (zł)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @string.Format("{0:#,0.00} zł", item.RentPrice)<!-- Wyświetlenie ceny wynajmu-->
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edytuj</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Szczegóły</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
