@model CarRentalSystem.Models.RentalModel

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Wynajęty model</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Marka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel.Model)
        </dd>
        <dt class="col-sm-2">
            Numer samochodu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt class="col-sm-2">
            Identyfikator klienta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            Data wynajmu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
        <dt class="col-sm-2">
            Data zwrotu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
