@model IEnumerable<CarRentalSystem.Models.RentalModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Wynajęte Modele</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success">Wynajmij wybrany samochód!</a>
</p>

@{
    decimal totalPrice = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Cena wynajmu
            </th>
            <th>
                 ID Klienta
            </th>
            <th>
                Data wynajmu
            </th>
            <th>
                Data zwrotu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @{
                        decimal rentPrice = item.CarModel?.NumericRentPrice ?? 0;
                        totalPrice += rentPrice;
                        @string.Format("{0:#,0.00} zł", rentPrice)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @item.ReturnDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Suma cen wynajmu wszystkich samochodów: @string.Format("{0:#,0.00} zł", totalPrice)</p>
